:root {
  display: block;
  box-sizing: border-box;
  margin: 0%;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  box-sizing: inherit;
  margin: auto;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 1.125em;
  line-height: 1.225em;
}

header {
  margin: 0px;
  min-height: 5em;
}
header.page-header {
  background: #222;
}
header.article-header {
  border-bottom: 1px solid darkblue;
  background: #ddd;
  align-content: center;
  }

@media screen and (min-width: calc(800px + 2em)) {
  main {
    max-width: 800px;
    margin: auto;
  }
}

@media screen and (max-width: calc(799px + 2em)) {
  main {
    margin-left: 1em;
    margin-right: 1em;
  }
}

article {
  margin: 0 1em 0 1em;
}

footer {
  background-color: black;
  color: white;
  margin-top: 2em;
}

p {
  margin-bottom: 2%;
}

header p, footer p {
  margin-left: 1em;
  margin-right: 1em;
}

h1 {
  color: darkblue;
  font-size: 200%;
}

